<mat-toolbar color="primary">
  <span routerLink="/">All Blogs</span>
  <span class="spacer"></span>
  <ul class="header-list">
    <li *ngIf="isLoggedIn">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Singup</a>
    </li>
    <li *ngIf="isLoggedIn">
      <button type="button" (click)="onLogout()" mat-button>Logout</button>
    </li>
  </ul>
  <button class="toggle-btn" type="button" mat-button (click)="openSideNav()">
    <img src="assets/menu-outline.svg" alt="">
  </button>
</mat-toolbar>
