
    <ul>
        <li *ngIf="isLoggedIn">
            <a (click)="closeSideNav()" mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li *ngIf="!isLoggedIn">
            <a (click)="closeSideNav()" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!isLoggedIn">
            <a (click)="closeSideNav()" mat-button routerLink="/signup" routerLinkActive="mat-accent">Singup</a>
        </li>
        <li *ngIf="isLoggedIn">
            <button type="button" (click)="onLogout()" mat-button>Logout</button>
        </li>
    </ul>
