<mat-spinner *ngIf="isLoading"></mat-spinner>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No Post Found!</p> 
<div *ngIf="posts.length > 0 && !isLoading">
  <mat-card *ngFor="let post of posts; let i = index; let isLast = last" [ngClass]="{'mb-card':!isLast}">
    <div style="border-radius: 8px;" (click)="viewPost(post.id, creatorMap.get(post.creator))"> <!--blog image-->
      <img class="blog-image" mat-card-image [src]="post.imgUrl" [ngClass]="{'not-found':post.imgUrl==='assets/img404.png'}" alt="Photo of a blog">
    </div>
    <div class="details-container"> <!-- details section-->
      <mat-card-header (click)="viewPost(post.id, creatorMap.get(post.creator))">
        <div mat-card-avatar class="profile-img">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="profile_pic">
        </div>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>Written by : {{ creatorMap.get(post.creator) }}</mat-card-subtitle>
      </mat-card-header>
      <mat-action-row>
        <p class="m-0 published">Published :<br *ngIf="isLoggedIn && userId === post.creator" class="break"/> 21 Jul 2024</p>
        <a *ngIf="isLoggedIn && userId === post.creator" mat-button [routerLink]="['/edit', post.id]" color="accent">Edit</a>
        <button *ngIf="isLoggedIn && userId === post.creator" mat-button color="warn" (click)="onDeletePost(post.id)">Delete</button>
      </mat-action-row>
    </div>
  </mat-card>
</div>